<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colleague</key>
	<array>
		<dict>
			<key>phone</key>
			<string>15210133333</string>
			<key>name</key>
			<string>Marshal</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>15210133333</string>
			<key>name</key>
			<string>wangjun</string>
		</dict>
	</array>
</dict>
</plist>
