<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mytask</key>
	<array>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>content</key>
			<string>逗小孩欢笑发电</string>
			<key>title</key>
			<string>逗小孩欢笑发电</string>
		</dict>
		<dict>
			<key>title</key>
			<string>送阿布回家</string>
			<key>id</key>
			<integer>4</integer>
			<key>content</key>
			<string>送阿布回家</string>
		</dict>
		<dict>
			<key>title</key>
			<string>找到阿布回家的门</string>
			<key>id</key>
			<integer>3</integer>
			<key>content</key>
			<string>和大眼怪一起找到阿布回家的门</string>
		</dict>
		<dict>
			<key>title</key>
			<string>演示如何吓小孩尖叫</string>
			<key>id</key>
			<integer>2</integer>
			<key>content</key>
			<string>给同事演示如何吓小孩尖叫</string>
		</dict>
		<dict>
			<key>title</key>
			<string>吓唬小孩尖叫发电</string>
			<key>content</key>
			<string>吓唬小孩尖叫发电</string>
			<key>id</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
